* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  color: #5a5a5a;
  background-color: #fff;
  text-rendering: optimizeLegibility;
}

h2:after {
  content: " ";
}

header {
  background-image: linear-gradient(
      45deg,
      rgba(2, 33, 64, 0.8) 55%,
      rgba(45, 95, 93, 0.85)
    ),
    url(../images/background4.jpeg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.glo-top-header {
  display: flex;
  flex-direction: row;
}

.glo-logo {
  width: 150px;
}
.glo-logo img {
  width: 150px;
}

.glo-menu {
  width: calc(100% - 150px);
  text-align: end;
  align-self: center;
}

.glo-main-nav {
  list-style: none;
}
.glo-main-nav li {
  display: inline-block;
  margin-right: 25px;
}
.glo-main-nav li a {
  color: #fff;
  text-decoration: none;
}

.wrap-content {
  width: 50%;
  padding-top: 8.65%;
  margin-left: 20%;
}

.title h1 {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  word-spacing: 5px;
  font-size: 290%;
  line-height: 135%;
}

.btn-header {
  margin-top: 35px;
}

.btn-tell {
  background-color: #e67e22;
  color: #fff;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 20px;
  width: 200px;
  display: inline-block;
  border: none;
  margin: 0 5px;
  transition: all 0.3s;
}

.btn-tell:hover,
.btn-tell:active {
  background-color: #d35400;
}

.mobile-nav-icon {
  font-size: 200%;
  color: #6b95bd;
  top: 55px;
  right: 100px;
  display: none;
}

.sticky {
  background-color: rgba(2, 33, 64, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
  padding-bottom: 10px;
}

/*-----------content about us ----------------*/
.content {
  width: 80%;
  margin: 0 auto;
}

.title-content h2 {
  color: #e67e22;
  font-size: 180%;
  font-weight: 700;
  text-align: center;
  margin: 30px 0;
}

.title-content h2:after {
  display: block;
  width: 150px;
  height: 3px;
  background-color: rgba(230, 126, 34, 0.5);
  margin: 5px auto 0;
}

.text-p {
  text-align: center;
  color: #265077;
  font-size: 22px;
  margin-bottom: 30px;
  width: 70%;
  margin-left: 15%;
  line-height: 140%;
}

.colum-about {
  float: left;
  width: 24%;
  margin-bottom: 10px;
}

.about-mr {
  margin-right: 1%;
}

.about-picture img {
  width: 90%;
  border-radius: 20px;
  border: 1px solid #c2e1fd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.7;
}

.picture-title {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #c2e1fd;
  transform: translate(-65%, 100%);
  opacity: 0;
  transition: all 0.7s;
}
.about-picture:active img,
.about-picture:hover img {
  filter: brightness(55%) blur(2px);
}
.about-picture:active .picture-title,
.about-picture:hover .picture-title {
  transform: translate(-65%, -50%);
  opacity: 1;
}

@media only screen and (max-width: 1200px) {
  .wrap-content {
    width: 50%;
    margin-top: 20%;
    margin-left: 20%;
  }

  .title h1 {
    font-size: 45px;
  }
}

@media only screen and (max-width: 1023px) {
  .wrap-content {
    width: 60%;
    margin-top: 20%;
    margin-left: 20%;
  }

  .title h1 {
    font-size: 28px;
  }

  .btn-tell {
    margin-top: 20px;
    width: 160px;
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 767px) {
  .wrap-content {
    width: 70%;
    margin-top: 30%;
    margin-left: 20%;
  }

  .title h1 {
    font-size: 28px;
  }

  .btn-tell {
    margin-top: 20px;
    width: 150px;
    padding: 15px 25px;
  }
}

@media only screen and (max-width: 480px) {
  .wrap-content {
    width: 70%;
    margin-top: 50%;
    margin-left: 20%;
    text-align: center;
  }

  .title h1 {
    font-size: 24px;
  }

  .btn-tell {
    margin-top: 20px;
  }

  .glo-main-nav {
    display: none;
  }

  .mobile-nav-icon {
    display: block;
    margin-right: 24px;
  }

  .glo-main-nav li a {
    font-size: 14px;
  }
}
